@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

	<h1 class="display-4">Welcome</h1>
    <p>Date  <a href="Dates">CLICK</a>.</p>
    <p>Patient <a href="Patients">CLICK</a>.</p>
    <p>Doctor <a href="Doctors">CLICK</a>.</p>
    <p>Doctors and their patients <a href="DoctorsToPatients">CLICK</a>.</p>
</div>